In [1]:
import pandas as pd

file_path = '../data/data_predicted/predict_populacao_2024-2025.csv'
df = pd.read_csv(file_path)
df

   Unnamed: 0    populacao
0     2024-01  216483235.0
1     2024-02  216601118.0
2     2024-03  216718706.0
3     2024-04  216836000.0
4     2024-05  216953000.0
5     2024-06  217069706.0
6     2024-07  217186118.0
7     2024-08  217302235.0
8     2024-09  217418059.0
9     2024-10  217533588.0
10    2024-11  217648824.0
11    2024-12  217763765.0

In [4]:
PROPORCAO_POPULACAO_HOMENS = 0.48863552
PROPORCAO_POPULACAO_MULHERES = 0.51136448

In [5]:
df_h = df.copy()
df_m = df.copy()
df_h['populacao'] = round(df_h['populacao'] * PROPORCAO_POPULACAO_HOMENS)
df_m['populacao'] = round(df_m['populacao'] * PROPORCAO_POPULACAO_MULHERES)
df_m

   Unnamed: 0    populacao
0     2024-01  110701837.0
1     2024-02  110762118.0
2     2024-03  110822248.0
3     2024-04  110882228.0
4     2024-05  110942058.0
5     2024-06  111001737.0
6     2024-07  111061266.0
7     2024-08  111120644.0
8     2024-09  111179873.0
9     2024-10  111238950.0
10    2024-11  111297878.0
11    2024-12  111356654.0

In [6]:
df_h.to_csv('predict_populacao_H_2024-2025.csv', index=False)
df_m.to_csv('predict_populacao_M_2024-2025.csv', index=False)