In [33]:
import pandas as pd

file_path = '../data/data_predicted/predict_desocupados_2024-2025.csv'
df = pd.read_csv(file_path)
df

   Unnamed: 0  populacao
0     2024-01  8527099.0
1     2024-02  8571011.0
2     2024-03  8605803.0
3     2024-04  8633368.0
4     2024-05  8655209.0
5     2024-06  8672513.0
6     2024-07  8686223.0
7     2024-08  8697085.0
8     2024-09  8705691.0
9     2024-10  8712510.0
10    2024-11  8717913.0
11    2024-12  8722193.0
12    2025-01  8725585.0

In [30]:
PROPORCAO_DESOCUPACAO_HOMENS = 0.4832
PROPORCAO_DESOCUPACAO_MULHERES = 0.5167

In [35]:
df_h = df.copy()
df_m = df.copy()
df_h['populacao'] = round(df_h['populacao'] * PROPORCAO_DESOCUPACAO_HOMENS)
df_m['populacao'] = round(df_m['populacao'] * PROPORCAO_DESOCUPACAO_MULHERES)
df_m

   Unnamed: 0  populacao
0     2024-01  4405952.0
1     2024-02  4428641.0
2     2024-03  4446618.0
3     2024-04  4460861.0
4     2024-05  4472146.0
5     2024-06  4481087.0
6     2024-07  4488171.0
7     2024-08  4493784.0
8     2024-09  4498231.0
9     2024-10  4501754.0
10    2024-11  4504546.0
11    2024-12  4506757.0
12    2025-01  4508510.0

In [36]:
df_h.to_csv('predict_desocupados_H_2024-2025.csv', index=False)
df_m.to_csv('predict_desocupados_M_2024-2025.csv', index=False)